# Imputation

## Part 1: Data exploration

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)# display all the columns
raw_data = pd.read_csv('a_20s_1600_Het_h_0.4MAF_0.2_r_50_EDM-2_01.txt', sep = "\t")# read in dataset

In [2]:
raw_data.head()

,N0,N1,N2,N3,N4,N5,N6,N7,N8,N9,N10,N11,N12,N13,N14,N15,M0P0,M1P0,M2P0,M3P0,Class
0,0,0,1,1,0,0,2,0,0,2,2,0,0,1,2,0,1,1,1,1,1
1,0,2,1,1,0,1,0,0,0,1,1,0,0,2,1,0,1,1,1,1,1
2,0,0,0,0,0,1,0,0,0,1,0,0,0,1,1,0,1,1,0,1,1
3,0,2,0,1,0,0,0,0,0,1,1,0,0,2,0,0,1,1,1,1,1
4,0,0,1,1,0,0,1,1,0,0,0,0,0,1,1,1,1,1,1,0,1

In [3]:
print ("Number of rows: " + str(raw_data.shape[0])) # row count
print ("Number of columns: " + str(raw_data.shape[1])) # column count

Number of rows: 1600
Number of columns: 21

In [4]:
raw_data.describe() # descriptive statistics

,N0,N1,N2,N3,N4,N5,N6,N7,N8,N9,N10,N11,N12,N13,N14,N15,M0P0,M1P0,M2P0,M3P0,Class
count,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.00000,1600.000000,1600.000000,1600.000000,1600.00000,1600.000000,1600.000000,1600.000000
mean,0.081250,0.719375,0.379375,0.806250,0.072500,0.837500,0.488125,0.653125,0.354375,1.007500,0.515000,0.080625,0.258750,0.83875,0.900000,0.403750,0.530000,0.53000,0.518750,0.516250,0.500000
std,0.275583,0.675211,0.560710,0.691202,0.264173,0.703671,0.611427,0.668455,0.541042,0.715202,0.630495,0.285790,0.477693,0.71191,0.687601,0.569815,0.579275,0.60152,0.581902,0.572224,0.500156
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.00000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.500000
75%,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,0.000000,0.000000,1.00000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000
max,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,1.000000

In [5]:
raw_data.isnull().values.any() # check missing data

False

# Part 2: Create random missing values

In [6]:
import random
data10 = raw_data.copy()
data20 = raw_data.copy()
data50 = raw_data.copy()
ix = [(row, col) for row in range(1600) for col in range(20)]
 
for row, col in random.sample(ix, int(round(.1*1600*20))): #randomly select 10% of values to be None
    data10.iloc[row, col] = None
    
for row, col in random.sample(ix, int(round(.2*1600*20))): #randomly select 20% of values to be None
    data20.iloc[row, col] = None

for row, col in random.sample(ix, int(round(.5*1600*20))): #randomly select 50% of values to be None
    data50.iloc[row, col] = None

In [7]:
data10.head()

,N0,N1,N2,N3,N4,N5,N6,N7,N8,N9,N10,N11,N12,N13,N14,N15,M0P0,M1P0,M2P0,M3P0,Class
0,0.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,2.0,2.0,0.0,0.0,1.0,2.0,0.0,1.0,1.0,1.0,1.0,1
1,NaN,2.0,1.0,1.0,0.0,1.0,0.0,0.0,NaN,1.0,1.0,0.0,0.0,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1
2,0.0,0.0,0.0,NaN,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1
3,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1
4,NaN,NaN,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,1.0,NaN,1.0,1.0,1.0,NaN,0.0,1

In [8]:
data20.head()

,N0,N1,N2,N3,N4,N5,N6,N7,N8,N9,N10,N11,N12,N13,N14,N15,M0P0,M1P0,M2P0,M3P0,Class
0,0.0,0.0,1.0,1.0,0.0,NaN,2.0,0.0,0.0,2.0,2.0,0.0,0.0,1.0,NaN,0.0,NaN,1.0,NaN,1.0,1
1,NaN,2.0,1.0,1.0,NaN,1.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,2.0,1.0,NaN,1.0,1.0,1.0,1.0,1
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,1.0,NaN,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1
3,0.0,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,NaN,1.0,1.0,1.0,1
4,0.0,0.0,NaN,1.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1

In [9]:
data50.head()

,N0,N1,N2,N3,N4,N5,N6,N7,N8,N9,N10,N11,N12,N13,N14,N15,M0P0,M1P0,M2P0,M3P0,Class
0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1
1,0.0,NaN,1.0,1.0,0.0,NaN,0.0,NaN,NaN,1.0,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,1.0,1
2,NaN,0.0,NaN,0.0,0.0,1.0,0.0,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1
3,0.0,NaN,0.0,NaN,0.0,0.0,NaN,NaN,0.0,1.0,1.0,0.0,NaN,2.0,NaN,0.0,NaN,NaN,NaN,NaN,1
4,0.0,0.0,1.0,1.0,0.0,NaN,1.0,NaN,0.0,NaN,0.0,0.0,NaN,1.0,NaN,1.0,1.0,1.0,NaN,0.0,1

In [10]:
data10.isna().values.sum()

3200

In [11]:
data20.isna().values.sum()

6400

In [12]:
data50.isna().values.sum()

16000

# Part 3: Imputation

## Mean  
The simplest way is to fill the missingd data with mean of the column. <br>
It has the advantage of keeping the same mean and the same sample size, but has many disadvantages as well. Mean imputation does not preserve the relationships among variables.It will bias your standard error. The standard error of that variable will be vastly underestimated–and this underestimation gets bigger the more missing data there are. Too-small standard errors lead to too-small p-values. Now you’re making Type I errors without realizing it.

In [13]:
data10_mean = data10.copy()
data20_mean = data20.copy()
data50_mean = data50.copy()

In [14]:
data10_mean = data10_mean.fillna(data10.mean())

In [15]:
data10_mean.head()

,N0,N1,N2,N3,N4,N5,N6,N7,N8,N9,N10,N11,N12,N13,N14,N15,M0P0,M1P0,M2P0,M3P0,Class
0,0.000000,0.000000,1.0,1.000000,0.0,0.0,2.0,0.0,0.000000,2.0,2.0,0.0,0.000000,1.000000,2.000000,0.0,1.0,1.0,1.000000,1.0,1
1,0.086171,2.000000,1.0,1.000000,0.0,1.0,0.0,0.0,0.354527,1.0,1.0,0.0,0.000000,0.840987,1.000000,0.0,1.0,1.0,1.000000,1.0,1
2,0.000000,0.000000,0.0,0.805671,0.0,1.0,0.0,0.0,0.000000,1.0,0.0,0.0,0.254035,1.000000,1.000000,0.0,1.0,1.0,0.000000,1.0,1
3,0.000000,2.000000,0.0,1.000000,0.0,0.0,0.0,0.0,0.000000,1.0,1.0,0.0,0.000000,2.000000,0.000000,0.0,1.0,1.0,1.000000,1.0,1
4,0.086171,0.712892,1.0,1.000000,0.0,0.0,1.0,1.0,0.000000,0.0,0.0,0.0,0.254035,1.000000,0.908402,1.0,1.0,1.0,0.512465,0.0,1

In [16]:
data10_mean.isnull().values.any()

False

In [17]:
data20_mean = data20_mean.fillna(data20.mean())

In [18]:
data20_mean.head()

,N0,N1,N2,N3,N4,N5,N6,N7,N8,N9,N10,N11,N12,N13,N14,N15,M0P0,M1P0,M2P0,M3P0,Class
0,0.000000,0.000000,1.000000,1.0,0.000000,0.842147,2.0,0.00000,0.000000,2.0,2.000000,0.000000,0.0,1.000000,0.900631,0.000000,0.529138,1.0,0.518154,1.000000,1
1,0.081569,2.000000,1.000000,1.0,0.075531,1.000000,0.0,0.00000,0.000000,1.0,0.520833,0.082426,0.0,2.000000,1.000000,0.413077,1.000000,1.0,1.000000,1.000000,1
2,0.000000,0.000000,0.000000,0.0,0.000000,1.000000,0.0,0.00000,0.359462,1.0,0.520833,0.000000,0.0,1.000000,1.000000,0.000000,1.000000,1.0,0.000000,1.000000,1
3,0.000000,0.723839,0.000000,1.0,0.000000,0.000000,0.0,0.00000,0.000000,1.0,1.000000,0.000000,0.0,2.000000,0.000000,0.000000,0.529138,1.0,1.000000,1.000000,1
4,0.000000,0.000000,0.378988,1.0,0.000000,0.000000,1.0,0.65358,0.000000,0.0,0.000000,0.000000,0.0,0.840524,1.000000,1.000000,0.529138,1.0,0.518154,0.516614,1

In [19]:
data50_mean = data50_mean.fillna(data50.mean())

In [20]:
data50_mean.head()

,N0,N1,N2,N3,N4,N5,N6,N7,N8,N9,N10,N11,N12,N13,N14,N15,M0P0,M1P0,M2P0,M3P0,Class
0,0.090331,0.722772,0.372671,0.79902,0.0,0.000000,0.483188,0.000000,0.000000,2.000000,2.0,0.0,0.253623,0.851897,0.879135,0.404255,0.519465,0.565823,1.000000,0.512516,1
1,0.000000,0.722772,1.000000,1.00000,0.0,0.844334,0.000000,0.674907,0.348958,1.000000,1.0,0.0,0.253623,0.851897,0.879135,0.000000,0.519465,0.565823,0.501854,1.000000,1
2,0.090331,0.000000,0.372671,0.00000,0.0,1.000000,0.000000,0.674907,0.000000,1.017284,0.0,0.0,0.253623,0.851897,0.879135,0.404255,0.519465,0.565823,0.000000,1.000000,1
3,0.000000,0.722772,0.000000,0.79902,0.0,0.000000,0.483188,0.674907,0.000000,1.000000,1.0,0.0,0.253623,2.000000,0.879135,0.000000,0.519465,0.565823,0.501854,0.512516,1
4,0.000000,0.000000,1.000000,1.00000,0.0,0.844334,1.000000,0.674907,0.000000,1.017284,0.0,0.0,0.253623,1.000000,0.879135,1.000000,1.000000,1.000000,0.501854,0.000000,1

## Median
If datasets have great outliers,results in the mean of those datasets are biased by high magnitude outliers. in this situation, replacing missing data with median might be a good choice.

In [21]:
data10_median = data10.copy()
data20_median = data20.copy()
data50_median = data50.copy()

In [22]:
data10_median = data10_median.fillna(data10.median())

In [23]:
data10_median.head()

,N0,N1,N2,N3,N4,N5,N6,N7,N8,N9,N10,N11,N12,N13,N14,N15,M0P0,M1P0,M2P0,M3P0,Class
0,0.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,2.0,2.0,0.0,0.0,1.0,2.0,0.0,1.0,1.0,1.0,1.0,1
1,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1
2,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1
3,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1
4,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1

In [24]:
data20_median = data20_median.fillna(data20.median())

In [25]:
data20_median

,N0,N1,N2,N3,N4,N5,N6,N7,N8,N9,N10,N11,N12,N13,N14,N15,M0P0,M1P0,M2P0,M3P0,Class
0,0.0,0.0,1.0,1.0,0.0,1.0,2.0,0.0,0.0,2.0,2.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1
1,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,1.0,1.0,1.0,1.0,1
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1
3,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,1.0,1
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1
5,0.0,0.0,0.0,1.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1
6,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1
7,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,2.0,0.0,0.0,1.0,0.0,1
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1
9,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1
10,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,1.0,1.0,1
11,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1
12,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,1.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1
13,0.0,1.0,0.0,1.0,0.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,1.0,1.0,1
14,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,2.0,0.0,1.0,2.0,0.0,0.0,1.0,0.0,1
15,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1
16,0.0,2.0,0.0,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,1.0,1
17,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1
18,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,1.0,0.0,1
19,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1
20,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1
21,0.0,2.0,0.0,1.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1
22,0.0,1.0,1.0,2.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1
23,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,2.0,1
24,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1
25,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0,1.0,1
26,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1
27,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,2.0,1.0,0.0,1.0,0.0,1
28,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1
29,0.0,0.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,2.0,1.0,0.0,1.0,1.0,1.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1570,0.0,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,2.0,0.0,1.0,0
1571,0.0,1.0,0.0,1.0,0.0,1.0,2.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0
1572,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0
1573,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1574,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1575,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1576,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1577,0.0,0.0,1.0,1.0,0.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0
1578,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1579,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0
1580,0.0,2.0,1.0,0.0,0.0,2.0,1.0,1.0,0.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
1581,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,1.0,0.0,0
1582,1.0,1.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1583,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1584,0.0,2.0,0.0,1.0,0.0,1.0,1.0,2.0,1.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0
1585,0.0,2.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1586,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1587,0.0,1.0,0.0,1.0,0.0,1.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0
1588,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0
1589,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,2.0,0.0,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1590,0.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0
1591,1.0,1.0,1.0,1.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0
1592,0.0,1.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0
1593,0.0,1.0,0.0,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1594,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0
1595,0.0,0.0,2.0,2.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,0
1596,1.0,1.0,0.0,1.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0
1597,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0
1598,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0
1599,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0

In [26]:
data50_median = data50_median.fillna(data50.median())

In [27]:
data50_median.head()

,N0,N1,N2,N3,N4,N5,N6,N7,N8,N9,N10,N11,N12,N13,N14,N15,M0P0,M1P0,M2P0,M3P0,Class
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1
1,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1
3,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,1.0,0.0,0.0,1
4,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1

## Mode
Mode imputation replaces missing values of a categorical variable by the mode of non-missing cases of that variable.

In [28]:
data10_mode = data10.copy()
data20_mode = data20.copy()
data50_mode = data50.copy()

In [29]:
data10_mode = data10_mode.fillna(data10.mode().iloc[0])#Note that there could be multiple values returned for the selected axis (when more than one item share the maximum frequency)

In [30]:
data10_mode.head()

,N0,N1,N2,N3,N4,N5,N6,N7,N8,N9,N10,N11,N12,N13,N14,N15,M0P0,M1P0,M2P0,M3P0,Class
0,0.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,2.0,2.0,0.0,0.0,1.0,2.0,0.0,1.0,1.0,1.0,1.0,1
1,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1
2,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1
3,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1
4,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1

In [31]:
data20_mode = data20_mode.fillna(data20.mode().iloc[0])

In [32]:
data20_mode.head()

,N0,N1,N2,N3,N4,N5,N6,N7,N8,N9,N10,N11,N12,N13,N14,N15,M0P0,M1P0,M2P0,M3P0,Class
0,0.0,0.0,1.0,1.0,0.0,1.0,2.0,0.0,0.0,2.0,2.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1
1,0.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0,1.0,1.0,1.0,1.0,1
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1
3,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,1.0,1
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1

In [33]:
data50_mode = data50_mode.fillna(data50.mode().iloc[0])

In [34]:
data50_mode.head()

,N0,N1,N2,N3,N4,N5,N6,N7,N8,N9,N10,N11,N12,N13,N14,N15,M0P0,M1P0,M2P0,M3P0,Class
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1
1,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1
3,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1
4,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1

# Part 4: Model Training and Result Evaluation

### K-fold Cross-Validation

In [35]:
from sklearn.cross_validation import KFold

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [36]:
# This function does 10-fold. It saves the result at each time as different parts of y_pred. 
# In the end, it returns the y_pred as the result of all the 10-fold.
def run_cv(X,y,clf_class,**kwargs):
    # Construct a kfolds object
    kf = KFold(len(y),n_folds=10,shuffle=True) # Total number of elements；Number of folds， default=3；Whether to shuffle the data before splitting into batches
    y_pred = y.copy()
    clf = clf_class(**kwargs)
    # Iterate through folds
    for train_index, test_index in kf:
        X_train, X_test = X[train_index], X[test_index]
        y_train = y[train_index]
        
        clf.fit(X_train,y_train)
        y_pred[test_index] = clf.predict(X_test)
    return y_pred

### Run Random Forest Model and Calculate Accuracy

In [37]:
from sklearn.ensemble import RandomForestClassifier

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [38]:
# This function calculates accuracy
def accuracy(y_true,y_pred):
    return np.mean(y_true == y_pred) # NumPy interpretes True and False as 1. and 0.

In [39]:
# This function take a dataframe and return X and y for model training
def split_dataset(dataframe):
    X = dataframe.iloc[:, :-1].values
    y = dataframe.iloc[:, -1].values
    return X, y

In [40]:
X_10_mean, y_10_mean = split_dataset(data10_mean)
X_20_mean, y_20_mean = split_dataset(data20_mean)
X_50_mean, y_50_mean = split_dataset(data50_mean)

X_10_median, y_10_median = split_dataset(data10_median)
X_20_median, y_20_median = split_dataset(data20_median)
X_50_median, y_50_median = split_dataset(data50_median)

X_10_mode, y_10_mode = split_dataset(data10_mode)
X_20_mode, y_20_mode = split_dataset(data20_mode)
X_50_mode, y_50_mode = split_dataset(data50_mode)

In [41]:
RF_CV_result_10_mean = run_cv(X_10_mean, y_10_mean,RandomForestClassifier)
RF_CV_result_20_mean = run_cv(X_20_mean, y_20_mean,RandomForestClassifier)
RF_CV_result_50_mean = run_cv(X_50_mean, y_50_mean,RandomForestClassifier)

RF_CV_result_10_median = run_cv(X_10_median, y_10_median,RandomForestClassifier)
RF_CV_result_20_median = run_cv(X_20_median, y_20_median,RandomForestClassifier)
RF_CV_result_50_median = run_cv(X_50_median, y_50_median,RandomForestClassifier)

RF_CV_result_10_mode = run_cv(X_10_mode, y_10_mode,RandomForestClassifier)
RF_CV_result_20_mode = run_cv(X_20_mode, y_20_mode,RandomForestClassifier)
RF_CV_result_50_mode = run_cv(X_50_mode, y_50_mode,RandomForestClassifier)

In [42]:
print ("Random forest accuracy using mean imputation on the dataset with 10% missing data:"+str(accuracy(y_10_mean, RF_CV_result_10_mean)))
print ("Random forest accuracy using mean imputation on the dataset with 20% missing data:"+str(accuracy(y_20_mean, RF_CV_result_20_mean)))
print ("Random forest accuracy using mean imputation on the dataset with 50% missing data:"+str(accuracy(y_50_mean, RF_CV_result_50_mean)) + "\n")

print ("Random forest accuracy using median imputation on the dataset with 10% missing data:"+str(accuracy(y_10_median, RF_CV_result_10_median)))
print ("Random forest accuracy using median imputation on the dataset with 20% missing data:"+str(accuracy(y_20_median, RF_CV_result_20_median)))
print ("Random forest accuracy using median imputation on the dataset with 50% missing data:"+str(accuracy(y_50_median, RF_CV_result_50_median)) + "\n")

print ("Random forest accuracy using mode imputation on the dataset with 10% missing data:"+str(accuracy(y_10_mode, RF_CV_result_10_mode)))
print ("Random forest accuracy using mode imputation on the dataset with 20% missing data:"+str(accuracy(y_20_mode, RF_CV_result_20_mode)))
print ("Random forest accuracy using mode imputation on the dataset with 50% missing data:"+str(accuracy(y_50_mode, RF_CV_result_50_mode)))

Random forest accuracy using mean imputation on the dataset with 10% missing data:0.90875
Random forest accuracy using mean imputation on the dataset with 20% missing data:0.89625
Random forest accuracy using mean imputation on the dataset with 50% missing data:0.805625

Random forest accuracy using median imputation on the dataset with 10% missing data:0.915625
Random forest accuracy using median imputation on the dataset with 20% missing data:0.866875
Random forest accuracy using median imputation on the dataset with 50% missing data:0.774375

Random forest accuracy using mode imputation on the dataset with 10% missing data:0.915
Random forest accuracy using mode imputation on the dataset with 20% missing data:0.873125
Random forest accuracy using mode imputation on the dataset with 50% missing data:0.76875

### Classification Report

In [43]:
from sklearn.metrics import classification_report

In [44]:
report_10_mean = classification_report(y_10_mean, RF_CV_result_10_mean)
report_20_mean = classification_report(y_20_mean, RF_CV_result_20_mean)
report_50_mean = classification_report(y_50_mean, RF_CV_result_50_mean)

report_10_median = classification_report(y_10_median, RF_CV_result_10_median)
report_20_median = classification_report(y_20_median, RF_CV_result_20_median)
report_50_median = classification_report(y_50_median, RF_CV_result_50_median)

report_10_mode = classification_report(y_10_mode, RF_CV_result_10_mode)
report_20_mode = classification_report(y_20_mode, RF_CV_result_20_mode)
report_50_mode = classification_report(y_50_mode, RF_CV_result_50_mode)

In [45]:
print ("Classification Report for replacing 10% missing data with mean:\n")
print (report_10_mean)

Classification Report for replacing 10% missing data with mean:

             precision    recall  f1-score   support

          0       0.90      0.93      0.91       800
          1       0.92      0.89      0.91       800

avg / total       0.91      0.91      0.91      1600

In [46]:
print ("Classification Report for replacing 20% missing data with mean:\n")
print (report_20_mean)

Classification Report for replacing 20% missing data with mean:

             precision    recall  f1-score   support

          0       0.87      0.93      0.90       800
          1       0.92      0.87      0.89       800

avg / total       0.90      0.90      0.90      1600

In [47]:
print ("Classification Report for replacing 50% missing data with mean:\n")
print (report_50_mean)

Classification Report for replacing 50% missing data with mean:

             precision    recall  f1-score   support

          0       0.78      0.85      0.81       800
          1       0.84      0.76      0.80       800

avg / total       0.81      0.81      0.81      1600

In [48]:
print ("Classification Report for replacing 10% missing data with median:\n")
print (report_10_median)

Classification Report for replacing 10% missing data with median:

             precision    recall  f1-score   support

          0       0.90      0.94      0.92       800
          1       0.93      0.90      0.91       800

avg / total       0.92      0.92      0.92      1600

In [49]:
print ("Classification Report for replacing 20% missing data with median:\n")
print (report_20_median)

Classification Report for replacing 20% missing data with median:

             precision    recall  f1-score   support

          0       0.85      0.89      0.87       800
          1       0.89      0.84      0.86       800

avg / total       0.87      0.87      0.87      1600

In [50]:
print ("Classification Report for replacing 50% missing data with median:\n")
print (report_50_median)

Classification Report for replacing 50% missing data with median:

             precision    recall  f1-score   support

          0       0.76      0.81      0.78       800
          1       0.80      0.74      0.77       800

avg / total       0.78      0.77      0.77      1600

In [51]:
print ("Classification Report for replacing 10% missing data with mode:\n")
print (report_10_mode)

Classification Report for replacing 10% missing data with mode:

             precision    recall  f1-score   support

          0       0.91      0.92      0.92       800
          1       0.92      0.91      0.91       800

avg / total       0.92      0.92      0.91      1600

In [52]:
print ("Classification Report for replacing 20% missing data with mode:\n")
print (report_20_mode)

Classification Report for replacing 20% missing data with mode:

             precision    recall  f1-score   support

          0       0.85      0.90      0.88       800
          1       0.89      0.85      0.87       800

avg / total       0.87      0.87      0.87      1600

In [53]:
print ("Classification Report for replacing 50% missing data with mode:\n")
print (report_50_mode)

Classification Report for replacing 50% missing data with mode:

             precision    recall  f1-score   support

          0       0.75      0.81      0.78       800
          1       0.79      0.73      0.76       800

avg / total       0.77      0.77      0.77      1600

Reference: <br>
https://www.theanalysisfactor.com/seven-ways-to-make-up-data-common-methods-to-imputing-missing-data/ <br>
https://www.theanalysisfactor.com/the-second-problem-with-mean-imputation/<br>
https://towardsdatascience.com/how-to-handle-missing-data-8646b18db0d4 <br>
https://statistical-programming.com/mode-imputation/